
body {
    /* eliminates small border around edges of page */
    margin: 0;
}

.upper-body {
    background:  #1f2937;
    padding-left: 150px;
    padding-right: 150px;
    margin: 0;
    border: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 80px;
}

.header-links {
    display: flex;
    gap: 15px;
}


/* removes underlines from links */
a {
    text-decoration: none;
    color:lightgray ;
    font-size: 18px;
}

a:hover {
    color: whitesmoke;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

/* removes bullet points from lists */
ul {
    list-style: none;
}

.website-name {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.subtext, .img-placeholder {
    color: lightgray;
    font-size: 18px;
}

.top-button {
    background-color: #3882f8;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 35px;
    margin-top: 10px;
    border-radius: 12px;
    border: none;
}

.upper-left-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    gap: 50px;
}

.img-placeholder {
   display: flex;
   flex-shrink: 0; 
   padding: 120px  150px ;
   background-color: gray;
}





